*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial;
    --darkest: #381f12;
    --darkest-second: #907a6b;
    --lightest-second: #c3ac99;
    --lightest: #ebddd1;

}

main{
    display: flex;
    flex-direction: row;
    border: solid 1px orange;
}

#left{
    border: solid 1px blue;
    width: 40%
}

#left>img{
    width: 100%;
}

#right{
    display: flex;
    flex-direction: column;
    border: solid 1px green;
    width: 60%;
    max-width: 1440px;
    padding: 20px;
}

#right>#header{
    min-height: 200px;
    background-color: var(--lightest-second);
    color: var(--darkest)
}

#signup-sec{

}

#signup{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    background-color: var(--lightest);
}

#signup>h3{
    grid-column: -1/1;
}

#signup .field{
    border: solid 1px aquamarine;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.field>label{

}

.field input{
    height: 1.7rem;
    border: solid 1px grey;
    border-radius: .3em;
    background-color: var(--lightest);
    color: var(--darkest);
    box-shadow: 2px 2px var(--darkest);
}

ul li{
    list-style: none;
}

#signup button{
    background-color: var(--darkest);
    color: var(--lightest);
    font-weight: bold;
    padding: 1em;
    border-radius: .4em;
}


input:not(:focus){
    border: solid 1px var(--darkest-second)
}

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

input:focus{
    border: 3px solid lightblue;
}


#pw-conditions>li {
    color: red;
}

#pw-confirmation-txt {
    color: red
}