*{
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    display: flex;
    flex-direction: row;
    border: solid 1px orange;
}

#left{
    border: solid 1px blue;
    width: 40%
}

#left>img{
    width: 100%;
}

#right{
    display: flex;
    flex-direction: column;
    border: solid 1px green;
    width: 60%;
    max-width: 1440px;
    padding: 20px;
}

#signup-form{
    border: solid 2px lavender;
}

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

input:focus{
    border: 3px solid lightblue;
}

#pw-conditions>li {
    color: red;
}

#pw-confirmation-txt {
    color: red
}