*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial;
    --darkest: #381f12;
    --darkest-second: #907a6b;
    --lightest-second: #c3ac99;
    --lightest: #ebddd1;
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    height: 100svh;
}

#left{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(425px, 40%, 1024px);
    border: solid 2px red;
    background-color: lightblue;
}


#left>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left>h1{
    color: var(--lightest);
    text-shadow: .1em .1em var(--darkest);
    position: absolute;
    top: 50px;
}

#right{
    display: flex;
    background-color: var(--lightest);
    height: 100%;
    display: flex;
    flex-direction: column;
    /*width: max(800px, 60%);*/
    width: clamp(425px, 60%, 1500px);
    border: solid 2px green;
    flex-grow: 1;
}

#right>#header{
    background-color: var(--lightest-second);
    color: var(--darkest);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

#signup{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 20px 50px;
    padding: 50px ;

}

#signup>h2{
    grid-column: -1/1;
    margin: 10px 0;
}

#signup .field{
    display: flex;
    flex-direction: column;
}

.field input{
    background-color: var(--lightest);
    color: var(--darkest);
    height: 2rem;
    border: solid 1px grey;
    border-radius: .3em;
    box-shadow: 2px 2px var(--darkest);
}

ul li{
    list-style: none;
}

#signup button{
    background-color: var(--darkest);
    color: var(--lightest);
    font-weight: bold;
    padding: 1rem;
    border-radius: .4em;
}


/*
input:not(:focus){
    border: solid 1px var(--darkest-second)
} 

input:focus{
    border: 3px solid lightblue;
}

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
} */

input{
    border: solid 1px var(--darkest-second)
}

input:not(:focus):not(:placeholder-shown):invalid{
    border: 1px solid red;
}

input:not(:focus):not(:placeholder-shown):valid{
    border: 1px solid green;
} 



#pw-conditions>li {
    color: red;
}

#pw-confirmation-txt {
    color: red
}

/* small width */
@media (max-width: 425px){
    main{
        flex-wrap: wrap;
    }
    #left{
        width: 100%;
    }
    
    #left>img{
        width: 100%;
        
    }
    #right{
        width: 100%;
    }

}